<h1>Edit Category</h1>
<ul>
    <form action="/user/{{userId}}/organizer/{{organizerId}}?_method=PUT" method="POST">
        <label class="editinfo" for="title">Title</label>
        <input name="title" value="{{organizer.title}}">
        <br>
        <label class="editinfo" for="description">Description</label>
        <input name="description" value="{{organizer.description}}">
        <br>

        <button type="submit">Update</button>
    </form>
</ul>