<h1>New Category</h1>
<ul>
    <form action="/user/{{userId}}/organizer" method="POST">
        <label class="editinfo" for="title">Title</label>
        <input name="title">
        <br>
        <label class="editinfo" for="dateCreated">Date</label>
        <input name="dateCreated">
        <br>
        <label class="editinfo" for="description">Description</label>
        <input name="description">
        <br>

        <button type="submit">Create</button>
    </form>
</ul>