<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3">
                <a href="/">Home</a>
            </li>
            <li class="tab col s3">
                <a href="/user/{{userId}}/organizer/{{organizerId}}/article">Article</a>
            </li>
            <li class="tab col s3">
                <a href="#test4">Log Out</a>
            </li>
        </ul>
    </div>
</div>
<h1>New Category</h1>
<ul>
    <form action="/user/{{userId}}/organizer" method="POST">
        <label class="editinfo" for="title">Title</label>
        <input name="title">
        <br>
        <label class="datepicker" for="dateCreated">Date</label>
        <input name="dateCreated">
        <br>
        <label class="editinfo" for="description">Description</label>
        <textarea name="description"></textarea>
        <br>

        <button type="submit">Create</button>
    </form>
</ul>