<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <header>
    <img class="headerImg" src="https://images.unsplash.com/photo-1518349619113-03114f06ac3a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=619d961cdefa53c694595af8c409839e&auto=format&fit=crop&w=2700&q=80"
      alt="" srcset="">
  </header>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>