<h1>Add a Another</h1>
<ul>
    <form action="/user/{{userId}}/organizer/{{organizerId}}/article" method="POST">

        <img src="" alt="Name" for="photoUrl">
        <label class="editinfo" for="title">Title</label>
        <input name="title">
        <br>
        <label class="editinfo" for="notes">Notes</label>
        <textarea name="description"></textarea>
        <br>
        <a href="http://#">Link</a>
        <br>

        <button type="submit">Create</button>
    </form>
</ul>